* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: aquamarine;
}

header {
  background-image: url(./background-abs.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border: double 10px darkmagenta;
  border-radius: 15px;
  flex-wrap: wrap;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
  margin: 15px;
  font-weight: bold;
  color: blue;
  font-style: italic;
}

main {
    display: flex;
    flex: 2 0 80%;
    justify-content: flex-end;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.overall-section {
  display: flex;
  flex-direction: column;
}

.work {
    display: flex;
    flex: 2 0 60%;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
}

.about-me {
  flex-grow: 1;
  flex-direction: row;
  padding:10px;
}

#mywork {
    display: flex;
    flex: 0 0 80%;
    flex-direction: row;
}

#about {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  flex-grow: 1;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
  padding: 5px;
  border: solid;
  border-radius: 3px;
  background-color: darkorange;
}

footer {
  position: static;
  bottom: 0px;
}

p {
    font-weight: bold;
}

h1 {
  color: darkmagenta;
  background-image: url(./small-circles.jpeg);
  transform: rotate(-90deg);
  flex: 0 200px;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px #F3582F;
  border: solid black;
}

h2 {
  color: darkmagenta;
  text-shadow: 1px 1px 1px #F3582F;
  font-size: 20pt;
}

/*removed <h3>Bread Recipes</h3> from line 34 for now */
h3 {
  color: blueviolet;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20pt;
}

.welcome {
  display: flex;
  flex: 0 200px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: flex-end;
}

.selfie {
  display: flex;
  flex: 3 1 200px;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

img {
  height: 200px;
  width: 150px;
  border: solid;
}

section {
  display: flex;
}

article {
  flex: 2 1 200px;
}

#first-article {
  flex: 4 1 50%;
  flex-wrap: wrap;
  display: flex;
}

#second-article {
  flex: 1 1 200px;
}

#bread {
  height: 99%;
  width: 99%;
}

#bread-img {
  position: relative;
  display: inline-block;
  flex-grow: 3;
  flex-basis: 100%;
}

#study {
  position: relative;
  display: inline-block;
  flex-grow: 2;
  flex-basis: 100%;
}

#prework {
  height: 99%;
  width: 99%;
}


.img-text {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: darkmagenta;
  padding: 10px;
  margin: 0; 
}

.upper-text {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: darkmagenta;
    padding: 10px;
    margin-right: 5px;
    font-size: larger;
  }

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
}

@media screen and (max-width: 455px) {
  header {
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    flex: 0 200px;
    flex-shrink: 3;
    transform: none;
  }
  .selfie {
    flex: 0 200px;
    flex-shrink: 2;
    justify-content: center;
  }
  .welcome {
    flex: 0;
    flex-shrink: 2;
  }
}
