* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: aquamarine;
}

header {
    background-color: aqua;
    display: flex;
    border: double 10px darkblue;
    border-radius: 15px;
}

h1 {
    color: darkmagenta;
    background-image: url(./small-circles.jpeg);
    transform:rotate(-90deg);
    flex: 0 200px;
    padding: 0;
    margin: 0;
}

.welcome {
    display: flex;
    flex: 0 200px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
}

.selfie {
    display: flex;
    flex: 3 1 200px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

img {
    height: 200px;
    width: 150px;
}
